{% load static %}
<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">

    <title>{{title}}</title>
    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    crossorigin="anonymous">
    <link href="{% static 'css/returns.css' %}" rel="stylesheet">
    <link href="{% static 'css/header.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/button.css' %}" rel="stylesheet">
    <link href="{% static 'css/manage_bigcat.css' %}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <script>
        $(function() {
            $(".close").click(function(){
                $(".alert").hide();
            })
        })
    </script>
</head>
<body class="container">
    {% include 'header.html' %}
    <br>
    <br>
    <div class="display">
        <h3 class="center">{{msg1|safe}}</h3>
        <br>
        <div class="center">
            <button type="button" class="btn btn-primary"onclick="location.href='{% url 'manage_bookdata' %}'">{{back}}
            </button>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/header.js' %}"></script>
</body>

</html>
