{% load static %}
<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">

    <title>{{title}}</title>
    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    crossorigin="anonymous">
    <link href="{% static 'css/returns.css' %}" rel="stylesheet">
    <link href="{% static 'css/header.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/button.css' %}" rel="stylesheet">
    <link href="{% static 'css/manage_midcat.css' %}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <script>
        $(function() {
            $(".close").click(function(){
                $(".alert").hide();
            })
        })
    </script>
</head>
<body class="container">
    {% include 'header.html' %}
    <button type="button" class="btn btn-primary"onclick="location.href='{% url 'manage_booktable' %}'">{{back}}
    </button>
    <button type="button" class="btn btn-success"onclick="location.href='{% url 'manage_midcat_add' %}'">{{add}}
    </button>
    <br>
    <div class="display">
        <br>
        <h2>{{title}}</h2>
        
        <h5 class="text-center"><strong>大分類別に表示する</strong></h5>
        <div class="text-center">
        <button type="button" class="btn btn-success"onclick="location.href='{% url 'manage_midcat' %}'">全て
        </div>
        </button>
        
        {% for val in bigcat_list %}
        <form  action = "{% url 'manage_midcat' %}" style="display: inline" >
            <div class = params style="display:none">
                <input name="page" value={{val.bigcat}}>
            </div>
            <div class="btn-group" role="group" aria-label="ボタングループサンプル">
            <button type="submit" class="btn btn-success btn_num">
                {{val.bigcat}}
            </div>
            </button>
        </form>
        {% endfor %}
        {% if msg1 %}
        <br>
        
        <br>
        <h5 class="text-muted"><strong>現在のページ:{{request.GET.page}}（{{msg1}}）{% endif %}</strong></h5>
        
          <table class="table">
            <tr class="not_color">
                <th>大分類番号</th>
                <th>中分類番号</th>
                <th>中分類名</th>
                <th></th>
            </tr>
            <div id="boxes">
            {% for item in midcat_list %}
            {% csrf_token %}
                <tr>
                    <td>{{item.bigcat_id}}</td>
                    <td>{{item.midcat}}</td>
                    <td>{{item.catname}}</td>
                    <td>
                        <button type="button" class="btn btn-danger"onclick="location.href='{% url 'manage_midcat_delete' item.id %}'">{{delete}}</button>
                        <button type="button" class="btn btn-success"onclick="location.href='{% url 'manage_midcat_edit' item.id %}'">{{edit}}</button>
                    </td>
                </tr>
            {% endfor %}
            </div>
        </table>
    </div>
    <br>
    <button type="button" class="btn btn-primary"onclick="location.href='{% url 'manage_booktable' %}'">{{back}}
    </button>
    <button type="button" class="btn btn-success"onclick="location.href='{% url 'manage_midcat_add' %}'">{{add}}
    </button>
    <script type="text/javascript" src="{% static 'js/header.js' %}"></script>
</body>

</html>
