{% extends 'base.html' %}

{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock %}

{% block title %}新規ユーザー追加{% endblock %}

{% block content %}
<div class="container">
  <h1 class="text-center logo my-4">
    <a>ユーザー追加</a>
  </h1>
  <div class="row justify-content-center">
    <div class="bkg_c">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title"></h3>
          <form method="post" novalidate>
            {% csrf_token %}
            {% include 'form.html' %}
            <div class="center">
              <button onclick="history.back()" class="btn btn-primary">戻る</button>
              <button type="submit" class="btn btn-success btn_long">作成する</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}