{% extends "base.html" %}
{% load static %}
{% load i18n static %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'home' %}">TOP</a>
&rsaquo; パスワードリセットの確認
</div>
{% endblock %}

{% block content %}

{% if validlink %}

<p>確認のために、新しいパスワードを2回入力してください。</p>

<form method="post">{% csrf_token %}
<fieldset class="module aligned">
    <input class="hidden" autocomplete="username" value="{{ form.user.get_username }}">
    <div class="form-row field-password1">
        {{ form.new_password1.errors }}
        <label for="id_new_password1">新しいパスワード:</label>
        {{ form.new_password1 }}
    </div>
    <div class="form-row field-password2">
        {{ form.new_password2.errors }}
        <label for="id_new_password2">新しいパスワード(確認用):</label>
        {{ form.new_password2 }}
    </div>
    <input type="submit" value="パスワードの変更">
</fieldset>
</form>

{% else %}

<p>パスワードリセットリンクが無効でした。おそらく、すでに使用されているためです。新しいパスワードのリセットをリクエストしてください。</p>

{% endif %}

{% endblock %}