{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}パスワード変更完了{% endblock %}

{% block styles %}
<link href="{% static 'css/password_change.css' %}" rel="stylesheet">
{% endblock %}

{% block headertitle %}パスワード変更完了{% endblock %}

{% block content %}
<div class="row justify-content-md-center">
  <div class="form col-md-12">
    <p class="col-md-12">パスワードを変更しました。</p>
    <br>
    <div class="form-group center">
      <button class="btn btn-primary"onclick="location.href='{% url 'book' %}'">TOP</button>
    </div>
  </div>
</div>
{% endblock %}