{% extends 'base.html' %}
{% load static %}
{% block title %}パスワードリセット{% endblock %}

{% block styles %}
  <link href="{% static 'css/password_reset.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}

{% if messages %}
<div class="center">
  <ul class="messages_ul">
      {% for message in messages %}
          <li class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %} alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</span></button>{{ message }}
          </li>
      {% endfor %}
  </ul>
</div>
{% endif %}
<form action = "{% url 'password_reset_submit' %}" method="post">
  {% csrf_token %}
<fieldset class="module aligned">
    <div class="form-row field-email">
      <!--div class="alert alert-danger" role="alert">{{ form.email.errors }}</div-->
        <div class="form-group col-md-12 col-xs-12 cp_iptxt">
          <input class="control-label ef" type="email" name="mailaddress" required = "true" autocomplete="off">
          <label for="id_email">メールアドレス:</label>
          <span class="focus_line"></span>
        </div>
    </div>
    <div class="right">
      <button type="submit" class="btn btn-primary btn_long">送　信</button>
    </div>
</fieldset>
</form>


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
{% endblock %}