h2{
	color: orange;
}
.form{
	margin: 3% 3%;
	padding: 1em 2em;
	color: #474747;
	background:whitesmoke;/*背景色*/
	opacity: 0.85;
	border-left: double 7px orange;/*左線*/
	border-right: double 7px orange;/*右線*/
}
.form p{
	padding: 10px;
	border-bottom: 2px double orange;
	font-size: 15px;
	width: 100%;
}
.form .button_c{
	text-align: center;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}
.form .btn{
	right: 0;
}

.cp_iptxt {
	position: relative;
	width: 100%;
	margin: 10px 0;
	padding-top: 2em;
}
.cp_iptxt input[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	letter-spacing: 1px;
	padding-left: 5em;
	text-overflow: ellipsis;
}
.cp_iptxt textarea {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	letter-spacing: 1px;
  padding:0 1em 0 2em;
	text-align: left;
	transition: 0.4s;
	border: 1px solid #1b2538;
	display:block;
}
.cp_iptxt input[type='number'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	letter-spacing: 1px;
	padding-left: 5em;
}
.cp_iptxt input[type='date'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	letter-spacing: 1px;
	padding-left: 5em;
}
.cp_iptxt input[type='image'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	letter-spacing: 1px;
  padding-left: 5em;
}
.cp_iptxt input[type='text']:focus {
	outline: none;
}
.cp_iptxt textarea:focus {
	outline: none;
	border: 1px solid orange;
}
.cp_iptxt input[type='number']:focus {
	outline: none;
}
.cp_iptxt input[type='date']:focus {
	outline: none;
}
.cp_iptxt input[type='image']:focus {
  outline: none;
}
.ef {
	padding: 4px 0;
	border: 0;
	border-bottom: 1px solid #1b2538;
	background-color: transparent;
}
.ef ~ .focus_line {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 2px;
	transition: 0.4s;
	background-color: orange;
}
.ef:focus ~ .focus_line,
.cp_iptxt.ef ~ .focus_line {
	width: 100%;
	transition: 0.4s;
}
.ef ~ label {
	position: absolute;
	z-index: -1;
	top: 4px;
	left: 0;
	width: 85%;
	transition: 0.3s;
	letter-spacing: 0.5px;
	color: #1b2538;
}
.ef:focus ~ label, .cp_iptxt.ef ~ label {
	font-size: 12px;
	top: -16px;
	transition: 0.3s;
	color: orange;
}
textarea{
  resize: none;
}

/*select*/
.cp_ipselect {
	position: relative;
	width: 100%;
	margin: 30px 0 10px 0;

}
.cp_sl06 {
	position: relative;
	font-family: inherit;
	background-color: transparent;
	width: 100%;
	padding: 10px 10px 5px 1em;
	border-radius: 0;
	border: none;
	border-bottom: 1px solid #1b2538;
	text-align-last: right;
}
.cp_sl06:focus {
	outline: none;
	border-bottom: 1px solid rgba(0,0,0, 0);
}
.cp_ipselect .cp_sl06 {
	appearance: none;
	-webkit-appearance:none
}
.cp_ipselect select::-ms-expand {
	display: none;
}
.cp_ipselect:after {
	position: absolute;
	top: 18px;
	right: 13%;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #1b2538;
	pointer-events: none;
}
.cp_sl06_selectlabel {
	color: #1b2538;

	letter-spacing: 0.5px;
	position: absolute;
	pointer-events: none;
	left: 0;
	top: 10px;
	transition: 0.2s ease all;
}
.cp_sl06:focus ~ .cp_sl06_selectlabel, .cp_sl06:valid ~ .cp_sl06_selectlabel {
	color: #1b2538;
	top: -20px;
	transition: 0.2s ease all;
	font-size: 14px;
}
.cp_sl06_selectbar {
	position: relative;
	display: block;
	width: 100%;
}
.cp_sl06_selectbar:before, .cp_sl06_selectbar:after {
	content: '';
	height: 2px;
	width: 0;
	bottom: 1px;
	position: absolute;
	background: orange;
	transition: 0.2s ease all;
}
.cp_sl06_selectbar:before {
	left: 50%;
}
.cp_sl06_selectbar:after {
	right: 50%;
}
.cp_sl06:focus ~ .cp_sl06_selectbar:before, .cp_sl06:focus ~ .cp_sl06_selectbar:after {
	width: 50%;
}
.cp_sl06_highlight {
	position: absolute;
	top: 25%;
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}