

.center{
  text-align: center;
}

/*追加*/
body {
   font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
   letter-spacing : 0.2em;
   padding-top: 140px;
}

h2 {
   margin: 0;
   font-size: 30px;
   font-weight: normal;
   color: #fff;
   text-align: center;
}

ul {
  list-style: none;
}
