.display{
  margin: 0 2%;
  padding: 1em 1em;
}
.display h2{
  color: orange;
  text-align: center;
  padding-bottom: 1em;
}
.form h2{
  margin-left: auto;
  margin-right: auto;
}
.display .form-row {
  display: inherit;
  margin: 0 10%;
}
.display .form-group{
  margin-bottom: 2em;
}
.table .btn{
  margin-top: 0px;
  width: 7.2em;
  height: 2.5em;
  margin: 1px;
}
.table td:nth-child(1) {
	width: 5em;
}
.table td:nth-child(3) {
  text-align: center;
  width: 10em;
}
.table td:nth-child(4) {
  text-align: center;
  width: 8em;
}
.table td:nth-child(5) {
  text-align: center;
  width: 6em;
}
.table td:nth-child(6) {
  width: 6em;
  text-align: center;
}