.btn{
  opacity: 0.9;
  text-align: center;
  letter-spacing: 1em;
  text-indent: 1em;
}
.btn-user{
  letter-spacing: 0.7em;
  text-indent: 0.7em;
}
body{
  padding-top: 90px;
}
@media screen and (min-width: 1281px) {
  .btn{
    width: 400px;
    height: 110px;
    margin: 30px 200px 30px 200px;
    font-size: 25px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1280px){
  .btn{
    width: 300px;
    height: 80px;
    margin: 20px 170px 20px 170px;
    font-size: 22px;
  }
}
@media screen and (min-width: 660px) and (max-width: 767px) {
  .btn{
    width: 350px;
    height: 100px;
    margin: 30px 30px;
    font-size: 20px;
  }
}
@media screen and (max-width: 660px) {
  .btn{
    width: 250px;
    height: 75px;
    margin: 30px 35px;
    font-size: 20px;
  }
  body{
    padding-top: 100px;
  }
}