.display{
  padding-left: 7%;
  padding-right: 7%;
}
/*input*/
.cp_iptxt {
	position: relative;
	width: 100%;
	margin: 10px 0;
}
.cp_iptxt input[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	letter-spacing: 1px;
	padding-left: 5em;
	margin-right: 2em;
	text-align: right;
	padding-right: 1em;
}
.cp_iptxt input[type='number'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	letter-spacing: 1px;
	padding-left: 5em;
}
.cp_iptxt input[type='text']:focus {
	outline: none;
}
.cp_iptxt input[type='number']:focus {
	outline: none;
}
.ef {
	padding: 4px 0;
	border: 0;
	border-bottom: 1px solid #1b2538;
	background-color: transparent;
	text-align: right;
}
.ef ~ .focus_line {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 2px;
	transition: 0.4s;
	background-color: orange;
}
.ef:focus ~ .focus_line,
.cp_iptxt.ef ~ .focus_line {
	width: 100%;
	transition: 0.4s;
}
.ef ~ label {
	position: absolute;
	z-index: -1;
	top: 4px;
	left: 0;
	width: 95%;
	transition: 0.3s;
	letter-spacing: 0.5px;
	color: #1b2538;
}
.exp_ef ~ label{
	width: 95%;
}
.ef:focus ~ label, .cp_iptxt.ef ~ label {
	font-size: 12px;
	top: -16px;
	transition: 0.3s;
	color: orange;
}

/*select*/
.cp_ipselect {
	position: relative;
	width: 100%;
	margin: 30px 0 10px 0;

}
select{
	position: relative;
	font-family: inherit;
	background-color: transparent;
	width: 100%;
	padding: 10px 7% 5px 1em;
	text-align-last: right;
	border-radius: 0;
	border: none;
	border-bottom: 1px solid #1b2538;
}
select:focus {
	outline: none;
	border-bottom: 1px solid rgba(0,0,0, 0);
}
.cp_ipselect select{
	appearance: none;
	-webkit-appearance:none
}
.cp_ipselect select::-ms-expand {
	display: none;
}
.cp_ipselect:after {
	position: absolute;
	top: 18px;
	right: 3%;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #1b2538;
	pointer-events: none;
}
.cp_sl06_selectlabel {
	color: #1b2538;

	letter-spacing: 0.5px;
	position: absolute;
	pointer-events: none;
	left: 0;
	top: 10px;
	transition: 0.2s ease all;
}
select:focus ~ .cp_sl06_selectlabel, select:valid ~ .cp_sl06_selectlabel {
	color: #1b2538;
	top: -20px;
	transition: 0.2s ease all;
	font-size: 14px;
}
.cp_sl06_selectbar {
	position: relative;
	display: block;
	width: 100%;
}
.cp_sl06_selectbar:before, .cp_sl06_selectbar:after {
	content: '';
	height: 2px;
	width: 0;
	bottom: 1px;
	position: absolute;
	background: orange;
	transition: 0.2s ease all;
}
.cp_sl06_selectbar:before {
	left: 50%;
}
.cp_sl06_selectbar:after {
	right: 50%;
}
select:focus ~ .cp_sl06_selectbar:before, select:focus ~ .cp_sl06_selectbar:after {
	width: 50%;
}
.cp_sl06_highlight {
	position: absolute;
	top: 25%;
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}
.center{
  text-align: center;
}
.center .btn{
  margin-top: 1em;
  margin-bottom: 1em;
}

@media screen and (max-width: 767px) {
	.cp_iptxt {
		position: relative;
		width: 100%;
		margin: 10px 0;
	}
	.cp_iptxt input[type='text'] {
		font: 15px/24px sans-serif;
		box-sizing: border-box;
		width: 100%;
		letter-spacing: 1px;
		padding-left: 5em;
		margin-right: 2em;
		text-align: right;
		padding-right: 1em;
	}
	.cp_iptxt input[type='number'] {
		font: 15px/24px sans-serif;
		box-sizing: border-box;
		width: 100%;
		letter-spacing: 1px;
		padding-left: 5em;
	}
	.cp_iptxt textarea {
		font: 15px/24px sans-serif;
		box-sizing: border-box;
		width: 100%;
		letter-spacing: 1px;
		padding:0 1em 0 2em;
		text-align: left;
		transition: 0.4s;
		border: 1px solid #1b2538;
		display:block;
	}
	.cp_iptxt.ef ~ .focus_line {
		width: 100%;
		transition: 0.4s;
	}
	.ef ~ label {
		position: absolute;
		z-index: -1;
		top: 4px;
		left: 0;
		width: 90%;
		transition: 0.3s;
		letter-spacing: 0.5px;
		color: #1b2538;
	}
	.ef:focus ~ .focus_line,
	.cp_iptxt.ef ~ .focus_line {
		width: 100%;
		transition: 0.4s;
	}
	/*select*/
	.cp_ipselect {
		position: relative;
		width: 100%;
		margin: 30px 0 10px 0;
	}
	select {
		position: relative;
		font-family: inherit;
		background-color: transparent;
		width: 100%;
		padding: 10px 7% 5px 1em;
		text-align-last: right;
		border-radius: 0;
		border: none;
		border-bottom: 1px solid #1b2538;
	}
	.cp_ipselect:after {
		position: absolute;
		top: 18px;
		right: 3%;
		width: 0;
		height: 0;
		padding: 0;
		content: '';
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		border-top: 6px solid #1b2538;
		pointer-events: none;
	}
	.cp_sl06_selectbar {
		position: relative;
		display: block;
		width: 100%;
	}
}
